---
layout: page
title: О Линуксе и не только
---

{% for post in paginator.posts %}
   <!-- here add you post markup -->
   <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
   <p class="author">
    <span class="date">{{post.date | date: "%Y-%m-%d"}}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
<br><br>
{% endfor %}

<!-- Pagination links -->
<div class="pagination pagination-centered">
  <ul>
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <li class="prev"><a href="/" title="Предыдущая страница">Пред.</a></li>
    {% else %}
      <li class="prev"><a href="/page{{paginator.previous_page}}" title="Предыдущая страница">Пред.</a></li>
    {% endif %}
  {% else %}
    <li class="prev disabled"><a>Пред.</a></li>
  {% endif %}
  {% if paginator.next_page %}
    <li class="next"><a href="/page{{paginator.next_page}}" title="Следующая страница">След.</a></li>
  {% else %}
    <li class="next disabled"><a>След.</a>
  {% endif %}
  </ul>
</div>

